{% extends 'base.html' %}

{% block basecontent %}


<div class="container">
<div class="row">
    <div class="infinite-container">
      {% for link in links %}
      <div class="col-12 infinite-item">
          <div class="infinite-border">
        <div class="image-metadata">
            <p class="image-metadata-left">  {{ link.subreddit }}&nbsp&nbsp|</p>
               <p class="image-metadata-center">
               {{ link.title }} &nbsp
               <i class="fa fa-chevron-down" aria-hidden="true"></i></p>
            <p class="image-metadata-right">|&nbsp&nbspScore: {{ link.score }}</p>
          </div>
        <div class="content-container">
        {% if link.sitetag == 'gfycat' %}
          <a href={{ link.url }}><div style='img-responsive position:relative;'><iframe src='{{ link.url }}' frameborder='0' scrolling='no' width='100%' height='100%' style='position:relative;height:100vh;top:0;left:0;' allowfullscreen></iframe></div>
          </a>
        {% elif link.sitetag == 'gifv' %}
          <a href= {{ link.url }}><video preload="metadata" loop="loop">
            <source src= {{ link.url }} type="video/webm"/>
          </video>
          </a>
        {% elif link.sitetag == 'imgurgifv' %}
          <a href={{ link.url }}><video poster= {{ link.url }} preload="metadata" muted="muted" loop="loop" webkit-playsinline="" >
            <source src= {{ link.mp4 }} type="video/mp4">
          </video>  </a>
        {% elif link.sitetag == 'mp4' %}
            <a href={{ link.url }}><video poster= {{ link.url }} preload="metadata" muted="muted" loop="loop" webkit-playsinline="" >
              <source src= {{ link.mp4 }} type="video/mp4">
            </video>  </a>
        {% elif link.sitetag == 'imguralbum' %}
          <a href= {{ link.url }}><img class="img-responsive" src="{{ link.url }}" alt="BROKE IMAGE - SKIP or CLICK THIS TO VIEW"/>
          </a>
        {% elif link.sitetag == 'flickr' %}
          <a href= {{ link.url }}><img class="img-responsive" src="{{ link.url }}" alt="BROKE IMAGE (flickr) - SKIP or CLICK THIS TO VIEW"/>
          </a>
        {% elif link.sitetag == '0' %}
          <a href={{ link.url }}><img class="img-responsive" src="{{ link.url }}" alt="BROKE IMAGE - SKIP or CLICK THIS TO VIEW"/>
          </a>
        {% endif %}
        </div>
          </div>
      </div>
      {% endfor %}

</div>
</div>
</div>
<div class="container">
<div class="row">
    <div class="col-12 col-centered">
      <div class="nav-buttons">

        {% if links.has_previous %}
          <a  class="infinite-more-link" href="?page={{ links.previous_page_number }}&subreddits={{ subreddits }}">
            <button class="pagin-button nav-but-control">
            <p>&#171;Back</p>
        </button></a>
        {% endif %}
          <a class="infinite-more-link" href="{% url 'images' %}">
            <button class="pagin-button nav-but-home">
              <i class="fas fa-home"></i></button></a>
        {% if links.has_next %}
          <a class="infinite-more-link" href="?page={{ links.next_page_number }}&subreddits={{ subreddits }}">
            <button class="pagin-button nav-but-control">
              <p>Next&#187;</p>
        </button></a>
        {% endif %}


</div>
    </div>
  </div>
</div>

{% endblock basecontent %}

{% block extrajs %}

{% endblock extrajs %}
