{% extends 'base.html' %}

{% block basecontent %}


<div class="container splash-container">
  <div class="row">
    <div class="col-12">
      <span class="splash-header"><a href="{% url 'images' %}"><p>R3
        PIC</p></a></span>
      </div>
    <div class="splash-description"><p>The picture consolidator you dreamed of.</p>
    </div>
  </div>
  <form method="post">
  <div class="well">
      {% csrf_token %}
      {{ filter.as_table }}
    <button type="submit" id="search" action="{% url 'images' %}">
      <span class="glyphicon glyphicon-search"></span> Search
    </button>
    </div>
  </form>
</div>

{% endblock basecontent %}

{% block extrajs %}

{% endblock extrajs %}