{% extends 'base.html' %}
{% load staticfiles %}
{% block extrahead %}
<script src="{% static 'js/splash.js' %}"></script>
{% endblock extrahead %}
{% block basecontent %}



<div class="container splash-container">
  <div class="row">
    <div class="col-12">
      <span class="splash-header"><a href="{% url 'images' %}"><p>&nbspR3PIC</p></a></span>
      </div>
      <div class="col-12 category-container">
          <a href="{% url 'all' %}" class="category-button">ALL</a>
          <a href="{% url 'pics' %}" class="category-button">PICS</a>
          <a href="{% url 'gifs' %}" class="category-button">GIFS</a>
          <a href="{% url 'funny' %}" class="category-button">FUNNY</a>
          <a href= "{% url 'wild' %}" class="category-button">WILD</a>


      </div>
  </div>
    <form method="post" action="{% url 'images' %}" >
        <div class="well">
            <label class="choice-label"> </label>
            {% csrf_token %}
            {{ filter.as_table }}
            <button id='search-button' class='pagin-button' type="submit" id="search" >
                <span class="glyphicon glyphicon-search"></span> View Selection
            </button>
        </div>
    </form>
    {% if nsfw_filter == False %}
    {% else %}
        <form id="nsfw-checkbox" method="post">
            <div class="well">
                <label id="nsfw-form">Are you over 18?</a>
            </div>
        </form>
    {% endif %}
</div>

{% endblock basecontent %}

{% block extrajs %}

{% endblock extrajs %}
